.right {
    float: right
}

.margin{
    margin: 30px 50px;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.short-key-input{
    padding-top: 10px;
    line-height: 1.3;
    border-width: 0px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}