.right {
    float: right
}

.margin{
    margin: 30px 50px;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.define-div{
    margin-top: 4px;
}

.define-div p {
    font-size: 12px;
    color: #ff6470;
    height: 20px;
    line-height: 20px;
}

.define-div p i {
    font-style: normal;
    display: inline-block;
    color: #992813;
    background-color: #ff5d56;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 5px;
    height: 20px;
}

.define-i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 !important;
}

.define-i input {
    border: #B2B2B2;
    width: 7em !important;
    padding: 2px;
    outline: none;
    -webkit-appearance: none !important;
    display: block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 0;
}